@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
:root{
    --white-light: rgba 255,255,255,0.5;
    --alice-blue: #f8f9fa;
    --carribian-green:#40c9a2;
    --gray:#ededed;
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        font-family: 'Quicksand',sans-serif;
        background: var(--gray);
}
header

    {
        background: darkslategray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    }
header a
{
   color: #fff;
   margin-top: 10px;
   margin-bottom: 20px; 
   margin-left: 200px;
   text-decoration: none;
   display: inline-block;
   text-transform: uppercase;
}
header a:hover
{
    color: var(--carribian-green);
}
.loginbox
{
    width: 320px;
    height: 420px;
    background: darkslategray;
    color:var(--carribian-green);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-top: 30px;
}
.vl
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: darkslategray;
}
.loginbox p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
}
.loginbox input
{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.loginbox a
{
    border: none;
    outline: none;
    height: 10px;
     color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: var(--carribian-green);
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background:  grey;
    color: var(--carribian-green);
}
.loginbox a
{
    color: #000;
    background: none;
    text-decoration: none;
}
.loginbox a:hover
{
    color: var(--carribian-green);
}
.custom-file-input {
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select some files';
    color: var(--carribian-green);
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
.custom-file-input:hover::before {
    border-color: black;
  }
.custom-file-input:active {
    outline: 0;
  }
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }
  
 body {
   background-size: cover;

  }
.hidden{
    display: none;
}


.productBox
{
   width: 35%;
   height: 70vh;
}
.productBox .product-content img
{
    margin-top: 200px;
    width: 25vh;
    height: 25vh;
    margin-left: 20px;
    align-items: center;
}
.btn-cart
{
   
    color: black;
    cursor: pointer;
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    margin-left: 10px;
}
.btn-cart:hover
{
    background: gray;
}
.btn-buy
{
   
    color: var(--carribian-green);
   
    cursor: pointer;
    width: 100px;
    height: 50px;
    text-transform: uppercase;
    
}
.btn-buy:hover
{
    background: gray;
    color: white;
}

.product-info-top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span
{
    color: var(--carribian-green);
    margin-right: 10px;
}
.rating span:hover
{
    color: gray;
}
.sm-title 
{
    margin-left: 10px;
    text-transform: capitalize;
}
.product-name
{
    margin-left: 10px;
    color: var(--carribian-green);
    text-decoration: none;
    text-transform: uppercase;
}
.product-name:hover
{
    background: white;
    color: gray;
}
.product-price
{
    margin-left: 10px;
}
/**/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}
*{
    margin: 0;
    padding: 0;
}
.b
{
    display: flex;
}
p
{
    margin-left: 300px;
    margin-top: 400px;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: capitalize;
    font-size: large;
}
.v {
    padding-top: 40px;
    padding-right: 10px;
}
.v a
{
    background: darkslategray;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 40px;
    color: white;
    text-decoration: none;
    margin-top: 1;
    cursor: pointer;

}
.v a:hover
{
    background: green;
 color: #fff;
}
.k p {
    padding-bottom: 50px;
    color: black;
}
.k a
{
    margin-left: 400px;
    margin-top: 30px;
    
    color: white;
    box-sizing: border-box;
    padding-left: 300px;
    margin-top: 40px;
    background: darkslategray;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    
}
.k a:hover
{
background: green;
color: #fff;
}
.container a
{
    margin-right: 10px;
}
.banner
{
   
    background: darkslategrey;
    width: 20%;
    height: 100vh;
}
.banner .logo
{
    background: rgb(124, 119, 119);
    color: #fff;
    background-size: cover;
    font-size: large;
    width: 100%;
    height:10vh ;
   
    
}
h1 {
   
    padding: 10px 50px;
    margin-top: 0px;
    padding-left: 10px;
    
}

ul li
{
    margin-top: 40px;
    margin-left: 20px;
    list-style: none;
    align-items: center;
}
ul li a
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: space-between;
    border-bottom: 20px;
}
ul li a:hover
{
    background: green;
    color: #fff;
}
.line {
    margin-left: 20px;
}
.line:hover
{
    color: green;
}
.l1{
    border-bottom: 10px solid gray;
    margin: 10px;
    width: 100px;
    border-radius: 5px;
}
.l1:hover
{
color: green;
}
.l2{
    border-bottom: 10px solid gray;
    margin: 10px;
    width: 90px;
    border-radius: 5px;
}
.l3{
    border-bottom: 10px solid gray;
    margin: 10px;
    width: 80px;
    border-radius: 5px;
}
img.sm{
    max-width: 20px;
    height: 20px;
    object-fit: cover;
}
.t 
{
    margin-top: 200px;
    margin-left: 30px;
    
}
.t a
{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    background: gray;
    padding: 10px 20px;
    border-radius: 10px;
    
    cursor: pointer;
}
.t a:hover
{
    background: green;
    color: #ffff;
}

  
  

