@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
:root{
    --white-light: rgba 255,255,255,0.5;
    --alice-blue: #f8f9fa;
    --carribian-green:#40c9a2;
    --gray:#ededed;
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        font-family: 'Quicksand',sans-serif;
        background: var(--gray);
}
header

    {
        background: var(--carribian-green);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    }
header a
{
   color: #fff;
   margin-top: 10px;
   margin-bottom: 20px; 
   margin-left: 200px;
   text-decoration: none;
   display: inline-block;
   text-transform: uppercase;
}
header a:hover
{
    color: #000;
}
.loginbox
{
    width: 320px;
    height: 420px;
    background: var(--alice-blue);
    color:var(--carribian-green);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.vl
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1
{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input
{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid var(--carribian-green);
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}
.loginbox a
{
    border: none;
    outline: none;
    height: 10px;
    background: var(--carribian-green);
     color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: var(--carribian-green);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background:  grey;
    color: #000;
}
.loginbox a
{
    color: #000;
    background: none;
    text-decoration: none;
}
.loginbox a:hover
{
    color: var(--carribian-green);
}
.custom-file-input {
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select some files';
    color: var(--carribian-green);
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
.custom-file-input:hover::before {
    border-color: black;
  }
.custom-file-input:active {
    outline: 0;
  }
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }
  
 body {
   background-size: cover;

  }
.hidden{
    display: none;
}


.productBox
{
   width: 35%;
   height: 70vh;
}
.productBox .product-content img
{
    margin-top: 200px;
    width: 25vh;
    height: 25vh;
    margin-left: 20px;
    align-items: center;
}
.btn-cart
{
   
    color: black;
    cursor: pointer;
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    margin-left: 10px;
}
.btn-cart:hover
{
    background: gray;
}
.btn-buy
{
   
    color: var(--carribian-green);
   
    cursor: pointer;
    width: 100px;
    height: 50px;
    text-transform: uppercase;
    
}
.btn-buy:hover
{
    background: gray;
    color: white;
}

.product-info-top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span
{
    color: var(--carribian-green);
    margin-right: 10px;
}
.rating span:hover
{
    color: gray;
}
.sm-title 
{
    margin-left: 10px;
    text-transform: capitalize;
}
.product-name
{
    margin-left: 10px;
    color: var(--carribian-green);
    text-decoration: none;
    text-transform: uppercase;
}
.product-name:hover
{
    background: white;
    color: gray;
}
.product-price
{
    margin-left: 10px;
}
