@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
--white-light: rgba 255,255,255,0.5;
--alice-blue: #f8f9fa;
--carribian-green:#40c9a2;
--gray:#ededed;
}


body{
    margin: 0;
    padding: 0;
    background: #ccc;
}
.banner
{
    display: flex;
}
.container
{
    background: grey;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    margin-top: 0;
    margin-bottom: 0;
    width: 300%;
    height: 100vh;
    margin-left: 0;
   
    
}
.banner a
{
    
    text-decoration: none;
    text-transform: uppercase;
    color: var(--carribian-green);
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    font-size: large;
}
.banner a .p2{
    margin: 15px 15px;
}
.banner p
{
    margin-top: 200px;
    text-transform: capitalize;
    color: #000;
    margin-left: 40px;
    font-size: large;
}
.banner a:hover
{
    color: white;
    cursor: pointer;
}
.carousel-inner img
{
width: 50%;
height: 60vh;
margin-bottom: 80px;
align-items: center;

}
header 
{
    background: var(--carribian-green);
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
z-index: 10000;
display: flex;
justify-content: space-between;
align-items: center;
transition: 0.5s;
}
header a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 70px;
    margin-top: 40px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
@media screen and (min-width: 992px)
{
    
}